node_modules
.nuxt
.output
.git
.gitignore
data
test
docs
diagram
*.md
*.log
.env*
docker-compose.yml
Dockerfile
.dockerignore
vercel.json
wrangler.toml
vitest.config.ts
deploy
panseek.tar
panseek.conf
