# PanSeek 环境配置
# 镜像版本
VERSION=latest
# 容器名称
CONTAINER_NAME=panseek
# 监听地址
HOST_IP=0.0.0.0
# 宿主机端口
WEB_HTTP_PORT=4000
# 资源限制（0 = 不限制）
CPUS=0
MEMORY_LIMIT=0MB
# 项目路径（服务器部署路径）
APP_PATH=/www/dk_project/dk_app/panseek
# 时区
TZ=Asia/Shanghai
# 运行环境
NODE_ENV=production
